<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Data Test</title>
  <meta name="description" content="Data Test">
  <meta name="author" content="Peter Merry (https://gitlab.com/petertm/)">
  <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
  <script src="vue.js"></script>
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand py-0" href="#">
    </a>
    <span class="navbar-text ml-auto py-0">
     Updated: {{time}}
   </span>
</nav>


  <div class="container">

      <H2 class="text-center" style="margin-top:90px">
        Machine 1<br />
        <small class="text-secondary">Live Telemetry</small>
      </H2>
      <h3 class="text-center text-warning"><small>{{error}}</small></h3>

  <div class="row">
    <div class="col-sm-6" v-for="(value,key) in tel">
      <h5>
        {{key}}
      </h5>
      <table class="table table-striped table-condensed">

        <thead class="thead-dark">
          <tr>
            <th>
              DATA
            </th>
            <th>
              VALUE
            </th>
          </tr>
        </thead>
          <tr v-for="(value,key) in value">
            <td>{{key}}</td>
            <td class="text-info">{{value[0] | round(1) }} <span class="text-success"> {{value[1]}}</span></td>
          </tr>
      </table>
        </div>
        <hr class="col-sm-12">
  </div>

  </div>



</div>
</body>

<script>

/**
 * Vue filter to round the decimal to the given place.
 * http://jsfiddle.net/bryan_k/3ova17y9/
 *
 * @param {String} value    The value string.
 * @param {Number} decimals The number of decimal places.
 */
Vue.filter('round', function(value, decimals) {
  if(typeof(value) != 'number'){
    return value
  }
    else{
    if(!value) {
      value = 0;
    }

    if(!decimals) {
      decimals = 0;
    }

    value = Math.round(value * Math.pow(10, decimals)) / Math.pow(10, decimals);
    return value;
  }
});



new Vue({
  el: '#app',
  data: () => ({
    tel: {},
    time:"Waiting",
    error:""
  }),
  methods: {
	   pollData () {
		     this.polling = setInterval(() => {
           ts = new Date();
           fetch('data2.html?' + ts.getTime()).then((response) => {
             return response.json().then((json) => {
               console.log("JSON", json)
               this.tel = json
               this.time = ts.toLocaleTimeString()
               this.error = ""
             })
             .catch((err) => {
               console.log("Oh No! an Error:" + err)
               this.error = err
             })
           })
         },1000)
       }
     },

  created () {
	   this.pollData()
   }
})
</script>
</html>
